* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    border: 1px solid black;
    height: 20%;
    display: flex;
    justify-content: center;
}

.game-box {
    border: 1px solid green;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.scoreboard {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.arena {
    display: flex;
    justify-content: space-evenly;
}

.ally-board {
    border: 1px solid black;
    padding: 200px;
}

.foe-board {
    border: 1px solid black;
    padding: 200px
}

/* buttons next */